
.header {
    text-align: center;
    position: fixed;
    width:100%;
    top:0;
    background:blanchedalmond;
    z-index:100;
}
.authors {
    height:auto;
    width: 100%;
    padding-bottom: 20px;
    background-color:blanchedalmond;
    text-align: center;
    clear:both;
}

.navElem {
    display: inline-block;
    font-family:fantasy;
    color: darkred;
    font-size:large;
    background:blanchedalmond;
    cursor: pointer;
    margin:0;
    padding: 16px;
    text-decoration: none;
    transition: 1s ease;
}
.navElem:hover {
    background-color: darkred;
    color:white;
}
.navElem:focus {
    background-color: darkred;
    color:white;
}
.navElem.active {
    background-color: darkred;
    color:white;
}

.container {
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: lightgoldenrodyellow;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


}
body {
    background-color: #fafad2;
    margin:0;
    margin-top: 53px;
}